{% extends 'myapp/base.html' %}
{%load static%}
{% block body %}
<body>
<div class="container-fluid row">
    <div class="container-fluid col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <strong>Xunbao 2018 has successfully ended!</strong>
            </div>
            <p style="border-bottom:1px solid black"></p>
            <div class="panel-body">
                <p>
                    It was really nice seeing so much of participation from students from YMCA UST as well as outside.
                    According to stats : there were more than 12,000 submission attempts and more than 300 students were competing with each other.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <strong>Top 3 winners are :</strong>
            </div>
            <p style="border-bottom:1px solid black"></p>
            <div class="panel-body">
                <p class="font-weight-light responsive">
                    Kashish Gupta<br>
                    Vivek Jaswal<br>
                    Kaushal verma
                </p>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
